
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>

    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4">2 minute test working, no console problems, 2nd push, with the console saying shutdown, and bitvise closed. finish test</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                <a asp-area="" asp-page="/CreateAccount" class="btn-custom">Create an Account</a>
                <a asp-area="" asp-page="/SignIn" class="btn-custom">Already have an account? Sign In.</a>
            </div>
        </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>

    <div id="hl-aria-live-message-container" aria-live="polite" class="visually-hidden"></div>
    <div id="hl-aria-live-alert-container" role="alert" aria-live="assertive" class="visually-hidden"></div>
</body>


