@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4">Trying to fix crap and it keeps breaking cause of auto</h1>
                <p>
                    Learn about 
                    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
                </p>
                <a asp-page="/createacc" class="btn-custom">Create an Account</a>
                <a asp-page="/signin" class="btn-custom">Already have an account? Sign In.</a>
            </div>
        </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
