@model List<skimmer2.Models.User>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
       main{
         padding-top: 50px; /* Add padding to move content down */
      }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <img src="~/images/pool.webp" alt="Pool" style="max-width: 100%; height: auto;">
                <p>
                    Learn about 
                    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
                </p>
                <a href="/home/createacc" class="btn-custom">Create an Account</a>
                <a href="/home/signin" class="btn-custom">Already have an account? Sign In.</a>
                <a href="/home/AccountInformation" class="btn-custom">Account information.</a>
            </div>
        </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
